  <div class="container">
        <a href="#default" id="logo"></a>
        <img  id="logo" src="../../assets/imageF/image-removebg-preview (3) (1).png">
        <input class="form-control" type="text" name="search" autocomplete="off" placeholder="search">
        <!-- <a id="userName">{{userName}}</a> -->
       <div class="menu_list">
         <div></div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          
          <!-- <button mat-menu-item disabled> -->
            <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>Help & Support</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
       </div>

</div>
     